---
layout: page
title: Les archives
permalink: /archives/
---

<div class="post-content">

  <h1>Les archives</h1>
  <ul class="visuposts">
    {% for post in site.posts %}
    {% if post.illustration %}
    {% assign illustration = post.illustration %}
    {% else %}
    {% assign illustration = "/images/default.jpg" %}
    {% endif %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"><img src="{{ illustration | replace : '.', '.square.' }}" alt="{{ post.title }}" /><span class="title">{{ post.title }}</span><span class="categories">{{post.categories}}</span></a></li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
