---
layout: default
---

<div class="home">
  <h1>Annuaire des organisations libérées</h1>
  <p>Ce site tente de référencer un maximum d'information sur le fonctionnement des organisations ou entreprises libérées telles qu'elles ont pu être mises en valeur par le travail de Tom Peters, d'<a href="/isaac-getz/">Isaac Getz</a> ou <a href="/frederic-laloux/">Frédéric Laloux</a>.</p>
  <p>Ces organisations sont des organisations qui donnent beaucoup d'autnomie à leurs salariées et leur offre la possibilité de s'auto-organiser, les tailles et leurs domaines d'expertises sont très variées : du service à l'industrielle, de la PME à l'entreprise ayant plusieurs dizaine voir centaine de milliers de salariées.</p>
  <h2>Les organisations repérées&nbsp;:</h2>
  <ul class="visuposts">
{% assign sorted_pages = (site.posts | sort: 'title') %}
    {% for post in sorted_pages %}
    {% if post.categories contains "entreprise" %}
    {% if post.illustration %}
    {% assign illustration = (post.illustration) %}
    {% else %}
    {% assign illustration = "/images/default.jpg" %}
    {% endif %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" data-category="{{post.categories}}"><img src="{{ illustration | replace : '.', '.square.' }}" title="{{ post.categories }}"/><span class="title">{{ post.title }}</span></a></li>
    {% endif %}{% endfor %}
  </ul>
  <h2>Les personnalités&nbsp;:</h2>
  <ul class="visuposts">
    {% for post in site.posts %}
    {% if post.categories contains "personnalité" %}
    {% if post.illustration %}
    {% assign illustration = (post.illustration) %}
    {% else %}
    {% assign illustration = "/images/default.jpg" %}
    {% endif %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" data-category="{{post.categories}}"><img src="{{ illustration | replace : '.', '.square.' }}" title="{{ post.categories }}"/><span class="title">{{ post.title }}</span></a></li>
    {% endif %}{% endfor %}
  </ul>
  <h2>Les livres&nbsp;:</h2>
  <ul class="visuposts">
    {% for post in site.posts %}
    {% if post.categories contains "livre" %}
    {% if post.illustration %}
    {% assign illustration = (post.illustration) %}
    {% else %}
    {% assign illustration = "/images/default.jpg" %}
    {% endif %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" data-category="{{post.categories}}"><img src="{{ illustration | replace : '.', '.square.' }}" title="{{ post.categories }}"/><span class="title">{{ post.title }}</span></a></li>
    {% endif %}{% endfor %}
  </ul>
  <h2>Les dernières fiches&nbsp;:</h2>
  <ul class="visuposts">
    {% for post in site.posts limit:8 %}{% unless post.categories contains "entreprise" %}{% unless post.categories contains "personnalité" %}
    {% if post.illustration %}
    {% assign illustration = (post.illustration) %}
    {% else %}
    {% assign illustration = "/images/default.jpg" %}
    {% endif %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"><img src="{{ illustration | replace : '.', '.square.' }}" alt="{{ post.title }}" /><span class="title">{{ post.title }}</span><span class="categories">{{post.categories}}</span></a></li>
    {% endunless %}{% endunless %}{% endfor %}
  </ul>
  <p style="text-align: right; margin-right: 150px;"><a href="/archives/">Plus de notes</a><p/>
</div>
