---
layout: default
---

<div class="home">
  <h1>Annuaire des organisations libérées</h1>
  <p>Ce site référence un maximum d'information sur le fonctionnement des organisations ou entreprises libérées telles qu'elles ont pu être mises en valeur par le travail de Tom Peters, d'<a href="/isaac-getz/">Isaac Getz</a> ou <a href="/frederic-laloux/">Frédéric Laloux</a>.</p>
  <p>Ces organisations donnent beaucoup d'autonomie à leurs salariées et leur offre la possibilité de s'auto-organiser; leurs tailles et leurs domaines d'expertise sont très variés : du service à l'industrie, de la PME à l'entreprise ayant plusieurs milliers (voir dizaine de milliers) de salariées.</p>
  <p>La diversité de ces organisations (entreprises, associations, coopératives, institutions, ...), les expériences des acteurs ainsi que les mises en valeur d'acteurs extérieurs permettent de se faire une idée de comment elles sont structurées.</p>
  <h2>Les organisations repérées&nbsp;:</h2>
  <ul class="visuposts">
{% assign sorted_pages = site.posts | sort: 'title' %}
    {% for post in sorted_pages %}
    {% if post.categories contains "entreprise" %}
    {% if post.illustration %}
    {% assign illustration = post.illustration %}
    {% else %}
    {% assign illustration = "/images/default.jpg" %}
    {% endif %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" data-category="{{post.categories}}"><img src="{{ illustration | replace : '.', '.square.' }}" title="{{ post.categories }}"/><span class="title">{{ post.title }}</span></a></li>
    {% endif %}{% endfor %}
  </ul>
  <h2>Les personnalités&nbsp;:</h2>
  <ul class="visuposts">
    {% for post in site.posts %}
    {% if post.categories contains "personnalité" %}
    {% if post.illustration %}
    {% assign illustration = post.illustration %}
    {% else %}
    {% assign illustration = "/images/default.jpg" %}
    {% endif %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" data-category="{{post.categories}}"><img src="{{ illustration | replace : '.', '.square.' }}" title="{{ post.categories }}"/><span class="title">{{ post.title }}</span></a></li>
    {% endif %}{% endfor %}
  </ul>
  <h2>Les livres&nbsp;:</h2>
  <ul class="visuposts">
    {% for post in site.posts %}
    {% if post.categories contains "livre" %}
    {% if post.illustration %}
    {% assign illustration = post.illustration %}
    {% else %}
    {% assign illustration = "/images/default.jpg" %}
    {% endif %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" data-category="{{post.categories}}"><img src="{{ illustration | replace : '.', '.square.' }}" title="{{ post.categories }}"/><span class="title">{{ post.title }}</span></a></li>
    {% endif %}{% endfor %}
  </ul>
  <h2>Les dernières fiches&nbsp;:</h2>
  <ul class="visuposts">
    {% assign nb = 0 %}
    {% for post in site.posts %}{% unless post.categories contains "entreprise" %}{% unless post.categories contains "personnalité" %}{% if nb < 8 %}
    {% assign nb = nb | plus: 1 %}
    {% if post.illustration %}
    {% assign illustration = post.illustration %}
    {% else %}
    {% assign illustration = "/images/default.jpg" %}
    {% endif %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"><img src="{{ illustration | replace : '.', '.square.' }}" alt="{{ post.title }}" /><span class="title">{{ post.title }}</span><span class="categories">{{post.categories}}</span></a></li>
    {% endif %}{% endunless %}{% endunless %}{% endfor %}
  </ul>
  <p style="text-align: right; margin-right: 150px;"><a href="/archives/">Plus de notes</a><p/>
</div>
